
<div class="row" *ngIf="!dynamicContent">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block align-items-center">
                    <h4 class="card-title">Pertrechos</h4>
                    <div class="ms-auto">
                        <div class="btn-group">
                            <button type="button" class="btn btn-info waves-effect waves-light" (click)="openNuevoPertrecho()">Nuevo Pertrecho</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <input type="text" pInputText class="p-inputtext-sm" id="tipoArma"
                            placeholder="Tipo de Arma">
                    </div>
                    <div class="col-3">
                        <input type="text" pInputText id="codigo" placeholder="C&oacute;digo">
                    </div>
                    <div class="col-3">
                        <input type="text" pInputText id="nombre" placeholder="Nombre">
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-info waves-effect waves-light">Buscar</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <p-table [value]="listaPertrecho" [tableStyle]="{ 'min-width': '50rem' }">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>C&oacute;digo</th>
                                    <th>Tipo de arma</th>
                                    <th>Nombre</th>
                                    <th>Descripci&oacute;n</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-pertrecho>
                                <tr>
                                    <td>{{ pertrecho.codigo }}</td>
                                    <td>{{ pertrecho.descripcion }}</td>
                                    <td>{{ pertrecho.string }}</td>
                                    <td>{{ pertrecho.tipoArma.descripcion }}</td>
                                    <td style="width: 5px;">
                                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-outlined mr-2" pTooltip="Editar pertrecho" (click)="openEditPertrecho('editar', pertrecho)"></button>
                                    </td>
                                    <td style="width: 5px;">
                                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-outlined mr-2" pTooltip="Eliminar pertrecho" (click)="openEditPertrecho('editar', pertrecho)"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"></div>
                    <div class="col-6">
                        <div class="row flex align-items-center justify-content-end">
                            <div class="col-2"></div>
                            <div class="col-3">
                                <span class="mx-1 text-color">Items por p&aacute;gina: </span>
                            </div>
                            <div class="col-2">
                                <p-dropdown [options]="options" optionLabel="label" optionValue="value" [(ngModel)]="rows" (ngModelChange)="first = 0" (onChange)="onPageChangeDrop($event)"></p-dropdown>
                            </div>
                            <div class="col-4">
                                <p-paginator [first]="first " [rows]="rows" [totalRecords]="pageable.totalElements" (onPageChange)="onPageChange($event)"  [showCurrentPageReport]="true"
                                currentPageReportTemplate="{first} - {last} of {{pageable.totalElements}}" [showPageLinks]="false" [showFirstLastIcon]="false" ></p-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div [ngClass]="{'hide-element': !dynamicContent}">
    <ng-template #dynamicInsert></ng-template>
</div>