<!-- Row -->
<div class="row" *ngIf="!dynamicContent">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block align-items-center">
                    <h4 class="card-title">Vinculaci&oacute;n de Pertrecho a Personal</h4>
                </div>
            </div>
            <hr>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <p-table [value]="personal" [tableStyle]="{ 'min-width': '50rem' }">                            
                            <ng-template pTemplate="header">
                                <tr>                                    
                                    <th>Identificaci&oacute;n</th>
                                    <th>Nombres</th>
                                    <th>Correo eleectr&oacute;nico</th>
                                    <th>Tel&eacute;fono celular</th>
                                    <th>Rango</th>                            
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-personal>
                                <tr>                                    
                                    <td>{{ personal.attributes.identify[0] }}</td>
                                    <td>{{ personal.firstName + ' ' + personal.lastName}}</td>
                                    <td>{{ personal.email }}</td>
                                    <td>{{ personal.attributes.movil[0] }}</td>
                                    <td>{{ personal.attributes.range[0] }}</td>                                
                                    <td style="width: 5px;">
                                        <button pButton pRipple icon="pi pi-link" class="p-button-rounded p-button-outlined mr-2" pTooltip="Vincular Vehiculos" (click)="vincularPersonals(personal)"></button>
                                    </td>                                    
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>            
            </div>
        </div>
    </div>
</div>
<div [ngClass]="{'hide-element': !dynamicContent}">
    <ng-template #dynamicInsert></ng-template>
</div>