<div class="row" *ngIf="mostrarPantalla">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Solicitud de Mantenimiento</h4>
            </div>
            <hr>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Datos del Solicitante</h4>
                </div>
                <hr>
                <div class="row form-group">
                    <div class="col-3">
                    </div>
                    <div class="col-3">
                        <label for="idLocalidad">Nombres</label>
                    </div>
                    <div class="col-3">
                        <span>{{ user.firstName + ' ' + user.lastName }}</span>
                    </div>
                    <div class="col-3">
                    </div>
                </div>
                <br />
                <div class="row form-group">
                    <div class="col-3">
                    </div>
                    <div class="col-3">
                        <label for="idLocalidad">Telefono</label>
                    </div>
                    <div class="col-3">
                        <span>{{ datosUsuario.attributes?.movil[0] }}</span>
                    </div>
                    <div class="col-3">
                    </div>
                </div>
                <br />
                <div class="row form-group">
                    <div class="col-3">
                    </div>
                    <div class="col-3">
                        <label for="idLocalidad">Rango</label>
                    </div>
                    <div class="col-3">
                        <span>{{ datosUsuario.attributes?.range[0] }}</span>
                    </div>
                    <div class="col-3">
                    </div>
                </div>
                <br />
                <div class="row form-group">
                    <div class="col-3">
                    </div>
                    <div class="col-3">
                        <label for="idLocalidad">Dependencia</label>
                    </div>
                    <div class="col-3">
                        <span>{{ datosUsuario.attributes?.dependencia[0] }}</span>
                    </div>
                    <div class="col-3">
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Datos de los Vehiculos Asignados</h4>
                </div>
                <hr>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <p-table [value]="vehiculos" [tableStyle]="{ 'min-width': '50rem' }">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Placa</th>
                                        <th>Chasis</th>
                                        <th>Motor</th>
                                        <th>Kilometraje</th>
                                        <th>Subcircuito</th>
                                        <th>Circuito</th>
                                        <th>Distrito</th>
                                        <th>Provincia</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-vehiculo>
                                    <tr>
                                        <td>{{ vehiculo.placa }}</td>
                                        <td>{{ vehiculo.chasis }}</td>
                                        <td>{{ vehiculo.motor }}</td>
                                        <td>{{ vehiculo.kilometraje }}</td>
                                        <td>{{ vehiculo.dependencia.nombreDependencia }}</td>
                                        <td>{{ vehiculo.dependencia.dependencia.nombreDependencia }}</td>
                                        <td>{{ vehiculo.dependencia.dependencia.dependencia.nombreDependencia }}</td>
                                        <td>{{ vehiculo.dependencia.dependencia.dependencia.localidad.nombreLocalidad }}
                                        </td>
                                        <td style="width: 5px;">
                                            <button pButton pRipple icon="pi pi-check"
                                                class="p-button-rounded p-button-outlined mr-2" pTooltip="Editar nodo"
                                                (click)="visualizarSolicitud(vehiculo)"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Mensaje" [(visible)]="visible" [modal]="true" [draggable]="false" [resizable]="false"
    [style]="{ width: '25vw' }">
    <p>
        No tiene vehiculos asignado. Debera solicitar el registro al responsable de log&iacute;stica para que se
        ingrese la dependencia a la que pertenece y el vehículo del cual es responsable
    </p>
</p-dialog>

<p-dialog header="Mensaje" [(visible)]="visibleMensajes" [modal]="true" [draggable]="false" [resizable]="false"
    [style]="{ width: '25vw' }">
    <p>
        {{ mensaje }}
    </p>
</p-dialog>

<p-dialog header="Datos del Solicitante" [(visible)]="visibleSolicitud" [modal]="true" [draggable]="false"
    [resizable]="false" [style]="{ width: '60vw' }">
    <form [formGroup]="solicitud">
        <div class="card">
            <div class="card-body">
                <div class="row form-group">
                    <div class="col-3">
                    </div>
                    <div class="col-3">
                        <label for="idLocalidad">Nombres</label>
                    </div>
                    <div class="col-3">
                        <span>{{ user.firstName + ' ' + user.lastName }}</span>
                    </div>
                    <div class="col-3">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-3">
                    </div>
                    <div class="col-3">
                        <label for="idLocalidad">Kilometraje</label>
                    </div>
                    <div class="col-3">
                        <span>{{ vehiculoSeleccionado.kilometraje }}</span>
                    </div>
                    <div class="col-3">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-3">
                    </div>
                    <div class="col-3">
                        <label for="idLocalidad">Fecha de mantemiento</label>
                    </div>
                    <div class="col-3">
                        <p-calendar appendTo="body" [showTime]="true" [showSeconds]="false" [showIcon]="true" [minDate]="minimumDate" [disabledDays]="[0,6]" [defaultDate]="minimumDate" 
                            [stepMinute]="60" formControlName="fechaMantenimiento" (onSelect)="validarHorario()"></p-calendar>
                        <small id="nombre_req" class="p-error" *ngIf="!solicitud.controls['fechaMantenimiento'].valid">Fecha de mantemiento es requerido.</small>
                    </div>
                    <div class="col-3">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-3">
                    </div>
                    <div class="col-3">
                        <label for="idLocalidad">Kilometraje actual</label>
                    </div>
                    <div class="col-3">
                        <input type="number" pInputText id="kilometrajeActual" formControlName="kilometrajeActual" (change)="validarKilometraje()">
                        <small id="nombre_req" class="p-error" *ngIf="!solicitud.controls['kilometrajeActual'].valid">Kilometraje actual es requerido.</small>
                    </div>
                    <div class="col-3">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-3">
                    </div>
                    <div class="col-3">
                        <label for="observaciones">Observaciones</label>
                    </div>
                    <div class="col-3">
                        <textarea rows="5" cols="30" pInputTextarea formControlName="observaciones"></textarea>
                    </div>
                    <div class="col-3">
                    </div>
                </div>
            </div>
            <hr>
            <div class="row form-group">
                <div class="col-3">
                </div>
                <div class="col-3 text-end">
                    <button type="button" class="btn btn-info waves-effect waves-light" (click)="grabarMantenimiento($event)">Grabar</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-info waves-effect waves-light" (click)="cerrarDialogo()">Cancelar</button>
                </div>
                <div class="col-3">
                </div>
            </div>
        </div>
    </form>
</p-dialog>