<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ accion }} Vehiculo</h4>
            </div>
            <hr>
            <form [formGroup]="vehiculoForm">
                <div class="card-body">
                    <div class="row form-group">
                        <div class="col-3">
                        </div>
                        <div class="col-3">
                            <label for="tipoVehiculo">Tipo de Vehiculo</label>
                        </div>
                        <div class="col-3">
                            <p-dropdown formControlName="tipoVehiculo" [options]="tipoVehiculos.childs" optionValue="idCatalogo" optionLabel="descripcion" 
                                placeholder="Seleccionar Tipo Vehiculo" (onChange)="obtenerMarcas()">
                            </p-dropdown>
                            <small id="nombre_req" class="p-error" *ngIf="!vehiculoForm.controls['tipoVehiculo'].valid">Tipo de vehiculo es requerido.</small>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                    <br />
                    <div class="row form-group">
                        <div class="col-3">
                        </div>
                        <div class="col-3">
                            <label for="placa">Placa</label>
                        </div>
                        <div class="col-3">
                            <input type="text" pInputText id="placa" formControlName="placa" >
                            <small id="nombre_req" class="p-error" *ngIf="!vehiculoForm.controls['placa'].valid">Placa es requerido.</small>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-3">
                        </div>
                        <div class="col-3">
                            <label for="chasis">Chasis</label>
                        </div>
                        <div class="col-3">
                            <input type="text" pInputText id="chasis" formControlName="chasis" >
                            <small id="nombre_req" class="p-error" *ngIf="!vehiculoForm.controls['chasis'].valid">Chasis es requerido.</small>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-3">
                        </div>
                        <div class="col-3">
                            <label for="marca">Marca</label>
                        </div>
                        <div class="col-3">
                            <p-dropdown formControlName="marca" [options]="tipoMarcas.childs" optionValue="idCatalogo" optionLabel="descripcion" 
                                placeholder="Seleccionar Marca" (onChange)="obtenerModelo()">
                            </p-dropdown>
                            <small id="marca" class="p-error" *ngIf="!vehiculoForm.controls['marca'].valid">Marca es requerido.</small>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-3">
                        </div>
                        <div class="col-3">
                            <label for="modelo">Modelo</label>
                        </div>
                        <div class="col-3">
                            <p-dropdown formControlName="modelo" [options]="tipoModelo.childs" optionValue="idCatalogo" optionLabel="descripcion" placeholder="Seleccionar Modelo"></p-dropdown>
                            <small id="modelo" class="p-error" *ngIf="!vehiculoForm.controls['modelo'].valid">Modelo es requerido.</small>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-3">
                        </div>
                        <div class="col-3">
                            <label for="motor">Motor</label>
                        </div>
                        <div class="col-3">
                            <input type="text" pInputText id="motor" formControlName="motor" >
                            <small id="nombre_req" class="p-error" *ngIf="!vehiculoForm.controls['motor'].valid">Motor es requerido.</small>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-3">
                        </div>
                        <div class="col-3">
                            <label for="kilometraje">Kilometraje</label>
                        </div>
                        <div class="col-3">
                            <input type="number" pInputText id="kilometraje" formControlName="kilometraje" >
                            <small id="nombre_req" class="p-error" *ngIf="!vehiculoForm.controls['kilometraje'].valid">Kilometrajees requerido.</small>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-3">
                        </div>
                        <div class="col-3">
                            <label for="cilindraje">Cilindraje</label>
                        </div>
                        <div class="col-3">
                            <input type="number" pInputText id="cilindraje" formControlName="cilindraje" >
                            <small id="nombre_req" class="p-error" *ngIf="!vehiculoForm.controls['cilindraje'].valid">Cilindraje es requerido.</small>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-3">
                        </div>
                        <div class="col-3">
                            <label for="capacidadCarga">Capacidad de carga</label>
                        </div>
                        <div class="col-3">
                            <input type="number" pInputText id="capacidadCarga" formControlName="capacidadCarga" >
                            <small id="nombre_req" class="p-error" *ngIf="!vehiculoForm.controls['capacidadCarga'].valid">Capacidad de carga es requerido.</small>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-3">
                        </div>
                        <div class="col-3">
                            <label for="kilometraje">Capacidad de pasajeros</label>
                        </div>
                        <div class="col-3">
                            <input type="number" pInputText id="capacidadPasajero" formControlName="capacidadPasajero" >
                            <small id="nombre_req" class="p-error" *ngIf="!vehiculoForm.controls['capacidadPasajero'].valid">Capacidad de pasajeros es requerido.</small>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-3">
                        </div>
                        <div class="col-3">
                        </div>
                        <div class="col-3">
                            <button type="button" class="btn btn-info waves-effect waves-light" (click)="guardarVehiculo($event)">{{ accion }}</button>
                            <button type="button" class="btn btn-info waves-effect waves-light" (click)="cancelar()">Cancelar</button>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                </div>
                <p-toast></p-toast>
                <p-confirmDialog></p-confirmDialog>
            </form>
        </div>
    </div>
</div>

<p-dialog header="Mensaje" [(visible)]="visible" [modal]="true" [draggable]="false" [resizable]="false" [style]="{ width: '25vw' }">
    <p>
        No se han llenado todo los campos obligatorios.
    </p>
</p-dialog>